* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  height: 100px;
  width: 100%;
  padding: 0 100px 0 100px;
  background: rgb(255, 255, 255);
  z-index: 100000;
}

header .logo {
  display: inline-block;
  line-height: 100px;
  font-family: 'consolas';
    font-weight: 900 !important;
    letter-spacing: 1px;
    font-size: 30px;
}

header ul {
  display: block;
  text-align: right;
  float: right;
  overflow: hidden;
  transition: 0.5s;
}
header ul li {
  display: inline-block;
  line-height: 100px;
  padding: 0 0 0 40px;
}
header ul li a {
  color: rgb(44, 44, 44);
  padding: 6px;
  border-radius: 1px;
  border: none;
}
header ul li a:hover {
  background: rgb(233, 233, 233);
}
header ul li a.active {
  color: rgb(255, 255, 255);
  background: rgb(43, 43, 43);
}

header .menu-icon {
  text-align: right;
  cursor: pointer;
  color: #111;
  display: none;
}

.wall {
  margin: 10px auto;
  margin-top: 60px;
  width: 80%;
  height: 600px;
  background: rgb(241, 241, 241);
}

.wall .title {
  font-size: 400px;
  text-align: center;
  line-height: 600px;
  font-family: sans-serif;
  letter-spacing: -20px;
  color: rgba(0, 0, 0, 0.082);
}
.wall .sub-title {
  position: relative;
  bottom: 400px;
  font-size: 100px;
  text-align: center;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 100px;
}
.wall .sub-title img {
  width: 140px;
  height: auto;
  margin-right: 0px;
}
.wall span {
  color: rgba(0, 0, 0, 0.452);
  display: none;
}

.wall .sub-title .dev-type {
  color: rgb(86, 37, 192);
}

.about {
  margin: 10px auto;
  margin-top: 100px;
  width: 80%;
  height: auto;
}

.about .detail {
  width: 100%;
  height: auto;
  padding: 40px;
}

.about .detail h2 {
  font-size: 80px;
  font-family: sans-serif;
  text-align: justify;
}
.about .detail p {
  font-size: 16px;
  padding: 40px 0 40px 0;
  line-height: 34px;
}
.about .detail .skills li {
  text-align: center;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background: #ddd;
}
.about .detail .skills-2 li {
  background: rgb(38, 38, 38);
}

.about .detail .skills-3 li {
  background: #1a1a1a;
}
.about .detail .skills li a {
  color: rgb(22, 22, 22);
  line-height: 60px;
}
.about .detail .skills-2 li a {
  color: rgb(255, 255, 255);
}

.about .detail .skills-3 li a {
  color: rgb(255, 255, 255);
}
.about .detail .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.detail ul {
  margin: 10px;
}
.project-section {
  margin: 100px 0 200px 0;
}

.project-section .project-title {
  margin-top: 100px;
  font-size: 80px;
  font-family: sans-serif;
  text-align: left;
}
.project-section .project-title-2 {
  margin-top: 40px;
  font-size: 40px;
    color: #1c1c1c;
  }
  
.projects {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.pro-projects {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.projects .card {
  padding: 30px;
  border-radius: 0px;
  background: rgba(241, 241, 241, 0.459);
  cursor: pointer;
  border: 0px solid #ececec;
}
.projects .card:hover {
  background: rgba(233, 233, 233, 0.459);
}

.pro-projects .card-pro {
  background: rgb(251, 251, 251);
  width: 100%;
  padding: 60px;
  border: 0px solid #ececec;
}

.project-section h2 {
  color: #111;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}
.project-section p {
  padding: 10px;
  font-size: 14px;
  line-height: 24px;
}

.project-section .project-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  padding: 10px;
  font-size: 12px;
}

.project-section .project-skills li {
  background: rgb(216, 216, 216);
  text-align: center;
  display: inline-block;
  line-height: 20px;
  padding: 4px;
  border: none;
  border-radius: 4px;
}

.project-section .pro-projects .project-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  padding: 10px;
  font-size: 12px;
}

footer {
  text-align: center;
  padding: 100px;
  width: 100%;
}
footer p {
  font-size: 14px;
}

.social-links {
  position: fixed;
  top: 60%;
  right: 40px;
}
.social-links a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #111;
  font-size: 20px;
}
.social-links a:hover {
  background-color: #000;
  color: white;
}

.contact {
  background: #1d1d1d;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 120px 0;
  color: rgb(136, 136, 136);
}

.contact h2 {
  color: white;
  font-size: 40px;
  padding: 20px;
}
.contact .phone {
  font-size: 16px;
  padding: 10px;
}
.contact .mail {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.548);
  letter-spacing: 2px;
}

.bold {
  font-weight: bold;
}

.pic {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 40px;
  float: right;
}
.project-section li {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.project-experience {
  margin: 10px 40px 20px 40px;
  
}

.pro-projects .project-skills {
  margin: 0px 40px 20px 40px;
}